<div class="flex justify-content-center align-items-center min-h-screen">
  <p-card header="login" [style]="{ width: '400px' }">
    <form #loginForm="ngForm" (ngSubmit)="onLogin()">
      <div class="field">
        <label for="username">Usuario</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="login.usuario"
          class="w-full"
          id="username"
          name="username"
          #username="ngModel"
          required
        />
        @if(username.invalid && (username.dirty || username.touched)){
        <small class="block p-error">
          @if(username.hasError('required')) {
          <span>Usuario es requerido</span>
          }
        </small>
        }
      </div>
      <div class="field">
        <label for="password">Password</label>
        <p-password
          [(ngModel)]="login.contrasenha"
          [feedback]="false"
          [toggleMask]="true"
          inputId="password"
          name="password"
          #password="ngModel"
          inputStyleClass="w-full"
          styleClass="w-full"
          required
        />
        @if(password.invalid && (password.dirty || password.touched)) {
        <small class="block p-error"> Password es requerido </small>
        }
      </div>
      <p-button label="INICIAR SESIÓN" styleClass="w-full" [disabled]="loginForm.invalid" type="submit" />
      <div class="mt-2">
        ¿No eres miembro? <a routerLink="/register">Regístrate</a>
      </div>
    </form>
  </p-card>
</div>