<div class="navbar">
  <div class="header-container">
    <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
    <div class="user-section">
      <p-avatar 
        icon="pi pi-user" 
        styleClass="mr-2" 
        size="large" 
        shape="circle"
        [style]="{'background-color':'var(--primary-color)', 'color':'white'}"
      ></p-avatar>
      <p-button 
        label="Logout" 
        icon="pi pi-sign-out" 
        (onClick)="logout()"
        styleClass="p-button-text"
      ></p-button>
    </div>
  </div>
</div>
