<p-card [header]="product.nombre || ''" [subheader]="(product.precio | currency) || ''" styleClass="h-full">
  <ng-template pTemplate="header">
    <img alt="Card" [src]="'assets/images/products/' + product.id + '.jpg'" 
         onerror="this.src='assets/images/placeholder.jpg'">
  </ng-template>
  <p>Stock: {{product.stock}}</p>
  <p-tag [value]="getStatusLabel()" [severity]="getStatusSeverity()"></p-tag>
  <ng-template pTemplate="footer">
    <div class="flex gap-2 justify-content-center">
      <p-button 
        icon="pi pi-shopping-cart" 
        label="Agregar" 
        (click)="onAddToCart()"
        styleClass="p-button-success"
      ></p-button>
    </div>
  </ng-template>
</p-card>